.modalContent {
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.modalBody {
    display: flex;
    justify-items: space-between;
    justify-content: space-between;
    width: 100%;
}

.modalItemContainer {
    display: flex;
}

.modalItemTitle {
    white-space: nowrap;
}
